<nav class="navbar navbar-expand-md bg-body-tertiary mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink=""
      ><i class="bi bi-film"></i> Peliculas</a
    >

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="generos"
            >Generos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="actores/">Actores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cines">Cines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="peliculas/crear">Crear Pelicula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="peliculas/buscar"
            ><i class="bi bi-search"></i> Buscar Peliculas</a
          >
        </li>
      </ul>
    </div>
    <!--                               dropdown                           -->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary navbar-toggler toggler-margin"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem class="nav-link" routerLink="generos">Generos</a>
            <a ngbDropdownItem class="nav-link" routerLink="actores/"
              >Actores</a
            >
            <a ngbDropdownItem class="nav-link" routerLink="cines">Cines</a>
            <a ngbDropdownItem class="nav-link" routerLink="peliculas/crear"
              >Crear Pelicula</a
            >
            <a ngbDropdownItem class="nav-link" routerLink="peliculas/buscar"
              ><i class="bi bi-search"></i> Buscar Peliculas</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--                        end       dropdown                           -->
  </div>
</nav>
